<menu class="social-media-share">
    <a href="http://twitter.com/nickhudspeth" class="icon-twitter" rel="external" title="Twitter"></a>
    <a href="http://linkedin.com/nickhudspeth" class="icon-linkedin" rel="external" title="LinkedIn"></a>
    <a href="http://github.com/nickhudspeth" class="icon-github" rel="external" title="GitHub"></a>
    <a href="http://youtube.com/nickhudspeth" class="icon-youtube" rel="external" title="YouTube"></a>
    <a href="mailto:nickhudspeth@gmail.com" class="icon-mail" rel="external" title="Mail"></a>
    <a href="#" class="icon-feed" rel="external" title="My RSS Feed"></a>
</menu>
